@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.offers-heading {
    color: white;
    text-decoration: none;
    margin-right: 28px;
}

.zoomcar-header {
    font-family: "Open Sans";
    background-color: #33414f;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 0 25px;
}

.header-links {
    flex-grow: 1;
    display: flexbox;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0;
    margin: 13px;
}

.zoomcar-header .zap-link {
    position: relative;
}

.zap-link .zap-desc {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-direction: column;
    position: absolute;
    z-index: 1000;
    color: #000;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
    margin-top: 1px;
    width: 320px;
    max-height: 186px;
    padding: 10px;
    top: 40px;
    right: -100px;
}

.zoomcar-header .zap-link .zap-desc .zap-logo {
    background-image: url("https://www.zoomcar.com/build/img/logo-black.9c208791d55bfaea62d47b83808864f0.svg");
    display: block;
    background-size: 120px;
    background-repeat: no-repeat;
    width: 120px;
    height: 30px;
}

a {
    cursor: pointer;
}

.zoomcar-header .zap-link .zap-desc .zap_btn {
    width: 105px;
    border-radius: 4px;
    background-color: #78b442;
    font-size: 12px;
    padding: 5px;
    margin: 10px 0;
    color: #fff;
    text-align: center;
    font-weight: 600;
}

.app-stores {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
    font-size: 18px;
    cursor: pointer;
    width: 190px;
    top: 40px;
    left: -14px;
}

.background {
    background-image: url("	https://www.zoomcar.com/build/img/intro_bg.59b15d84c75cf310e76cc40155b90dc6.jpg");
    height: 520px;
    background-size: cover;
    background-position: 50% 0;
}

.intro {
    padding-top: 160px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.search-block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search {
    margin-top: 20px;
    width: 540px;
    height: 60px;
    background-color: #fff;
    border-radius: 5px;
    line-height: 60px;
    text-align: left;
    text-indent: 20px;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    cursor: pointer;
    color: #323a44;
    text-decoration: none;
    display: block;
}

.advantage {
    background-color: #eee;
    padding: 30px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-direction: column;
}

.zoomcar-heading {
    font-weight: 600;
    color: #7b808a;
    font-size: 25px;
}

.item-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 5px;
    height: 170px;
    width: 240px;
}

.item-image {
    height: 55px;
    width: 65px;
    padding-top: 10px;
}

.item-heading {
    margin-top: 9px;
    margin-bottom: 10px;
    color: #70ad4d;
    font-weight: 400;
    font-size: 18px;
}

.supermilers {
    text-align: center;
    margin-bottom: 40px;
}

.promo {
    background-image: url("	https://www.zoomcar.com/build/img/supermilers_bg.ce8bf185500c5dd96a4c1034b89e6e0c.jpg");
    color: #fff;
    height: 400px;
    background-size: cover;
    background-position-y: 75%;
    text-align: center;
}

.opacity {
    width: 100%;
    height: 350px;
    background-color: rgba(0, 0, 0, .7);
}

.logo-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.logo-image {
    height: 100px;
    width: 100px;
    margin-top: 40px;
    margin-bottom: 16px;
}

.supermilers-heading {
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin-top: 10px;
}

.supermilers-description {
    color: white;
    font-size: 20px;
    margin-top: 12px;
}

.supermilers-line-heading {
    color: gray;
    font-size: 18px;
    margin-top: 12px;
}

.line-color {
    color: white;
    font-size: 2px;
    height: 2px;
}

.supermilers-combined-container {
    width: 200px;
    height: 150px;
    margin: 0 auto;
    margin-top: -85px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
}

h2 {
    width: 30%;
    text-align: center;
    border-bottom: 1px solid #fff;
    line-height: 0.1em;
    margin: 10px 10px 20px;

}

h2 span {
    background: #000;
    padding: 0 10px;
    color: white;
}

.mini-supermilers-image {
    height: 80px;
    width: 100px;
    margin-bottom: 10px;
}

.para-container {
    width: 200px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    padding: 15px;
    font-size: 15px;
}

.learn-more-button {
    height: 45px;
    width: 200px;
    color: #000021;
    margin-top: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
}

.supermilers.elite {
    display: none;
}

.carousel-car-heading {
    color: white;
    margin-left: 50px;
}

.carousel-car-mini-heading {
    color: white;
    margin-left: 50px;
}

.carousel-car-para {
    color: white;
    margin-left: 50px;
    font-size: 10px;
}


.car-image-carousel {
    height: 250px;
    width: 50px;
}

.bg-carousel {
    background-image: url('https://www.zoomcar.com/build/img/car_bg.9876fe054a2220e5a5cc8c5746991926.jpg');
    background-size: cover;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-heading {
    color: white;
    font-size: 25px;
}

.carousel-para {
    color: white;
    font-size: 15px;
}

.zoomcar-works-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 35px;
}

.zc-footer {
    background: #33414f;
    padding: 25px 0 21px;
    color: #fff;
    font-weight: 300;
}

.footer-icon {
    background-color: white;
    padding-top: 7px;
    padding-left: 6px;
    border-radius: 60px;
    font-size: 20px;
    height: 30px;
    width: 30px;
    color: #33414f;
}